$primary-color: #000;
$secondary-color: #fff;
$green: #8bc34a;
$red: #f44336;
$grey: #aaa;


$primary-color-hover:darken($primary-color, 15%);
$secondary-color-hover:darken($secondary-color, 15%);
$dark-green:darken($green, 15%);
$dark-red:darken($red, 15%);
$dark-grey:darken($grey, 15%);